# Ignore system files
.DS_Store
Thumbs.db

# Ignore configuration files that may contain sensitive information
-wp-config-secrets.php

# Ignore files related to IDEs and code editors
.idea/
wordpress/
advanced-custom-fields/

composer.phar
